
 <div class="row">

    <div class="form-group">
      <label for="postArea">Enter New Note</label>
      <textarea id="postArea" class="form-control" #post style="background-color:black;color:white; resize: none;" rows="10" cols="10">                             
            
          
          </textarea>
    </div>

  </div>

  <div class="row">
    <button style="float: left;margin: 10px 10px;padding-left: 111px; padding-right: 111px;" class="btn btn-primary btn-lg" (click)="onClickSave(post)">Save</button>
    <button style="float: right;margin: 10px 10px;padding-left: 111px; padding-right: 111px;" class="btn btn-primary btn-lg"
      (click)="onClickReset(post)">Reset</button>
  </div>
  <div class="row">

    <h1>Previous Notes by You</h1>
    <br>
    <br>

  
  </div>

<div class="post">
  <div *ngFor="let post of posts; let i = index">

    <div class="col-md-12 text-left ">

        <p>{{post.text}}. Post Number {{posts.length-i}}</p>
    </div>
    <div class="text-left">{{ post.dateTime | date:'dd/mm/yyyy hh:mm aaa' }}</div>

    <br>
    <hr class="customBorder" >
    <br>
  
  </div>
</div>